<view title="'app.login'" right-buttons="rightButtons" left-buttons="leftButtons" hide-back-button="true" class="cards-background">
	<div class="list card">

  <div class="item">
    <h2>McClock2</h2>
   
  </div>

 

  <label class="item item-input">
    <input type="text" placeholder="Username">
  </label>
  <label class="item item-input">
    <input type="password" placeholder="Password">
  </label>
  <!-- <label class="item item-input">
    <textarea placeholder="Comments"></textarea>
  </label> -->


<button class="button button-full button-positive item" ng-click="signIn()">
  Sign In
</button>
 </div>
</view>

