

		  <div class="modal">

		    <!-- Modal header bar -->
		    <header class="bar bar-header bar-positive">
		    <button class="button button-clear button-clear" ng-click="closeNewTimeLog()">Cancel</button>
		      <h1 class="title" ng-if="!newTimeLog.jobId && !newTimeLog.itemId">New Activity</h1>
		      <h1 class="title" ng-if="newTimeLog.jobId && !newTimeLog.itemId">{{newTimeLog.jobName}}</h1>
		      <h1 class="title" ng-if="newTimeLog.itemId">Confirm</h1>
		    </header>

		    <!-- Modal content area -->
		    <content has-header="true">

		    <div class="button-bar">
  					<a class="button" ng-click="selectedLogFactoryModel = logFactoryModel[0]; logFactoryModel[0].setToDefault()">Billable</a>
  					<a class="button" ng-click="selectedLogFactoryModel = logFactoryModel[1]; logFactoryModel[1].setToDefault()">Overhead</a>
			</div>
		      <form ng-submit="createTimeLog(newTimeLog)">
		        <list ng-show="selectedLogFactoryModel.type == 'Billable' && !newTimeLog.jobId">
		          <label class="item item-input">
		            <input type="text" placeholder="Search Billable Projects..." ng-model="project">
		          </label>
		          <item ng-repeat="project in projects | filter:project" item="newTimeLog.jobId" ng-click="newTimeLog.jobId = project.id;newTimeLog.jobName = project.name">
		            <h2 ng-bind="project.name">List Item</h2>
		          </item>
		        </list>

		        <list ng-show="selectedLogFactoryModel.type == 'Billable' && newTimeLog.jobId && !newTimeLog.itemId">
		          <label class="item item-input">
		            <input type="text" placeholder="Search Billable Service Items" ng-model="item">
		          </label>
		          <item ng-repeat="item in serviceItems | filter:item" item="item" ng-click="newTimeLog.itemId = item.id;newTimeLog.itemName = item.description">
		            <h2>{{item.name}}: {{item.description}}</h2>
		          </item>
		        </list>


		        <list ng-show="selectedLogFactoryModel.type == 'Overhead' && !newTimeLog.itemId">
		          <label class="item item-input">
		            <input type="text" placeholder="Search Overhead Service Items" ng-model="item">
		          </label>
		          <item ng-repeat="item in serviceItems | filter:item" item="item" ng-click="newTimeLog.itemId = item.id;newTimeLog.itemName = item.description">
		            <h2>{{item.name}}: {{item.description}}</h2>
		          </item>
		        </list>

		        <div class="list card" ng-show="newTimeLog.itemId">

				  <a href="#" class="item item-icon-left" ng-show="newTimeLog.jobId" ng-click="newTimeLog.jobId = null;newTimeLog.jobName = null;newTimeLog.itemId = null;newTimeLog.itemName = null">
				    <i class="icon ion-briefcase"></i>
				    {{newTimeLog.jobName}}
				  </a>

				  <a href="#" class="item item-icon-left" ng-show="newTimeLog.itemId" ng-click="newTimeLog.jobId = null;newTimeLog.jobName = null;newTimeLog.itemId = null;newTimeLog.itemName = null" >
				    <i class="icon ion-wrench"></i>
				   		{{newTimeLog.itemName}}
				  </a>

				    <button type="submit" class="button button-block button-positive" ng-show="newTimeLog.itemId">Confirm Activity</button>
				 
				</div>

		      </form>

		    </content>

		  </div>

