<view title="'Activity List'" right-buttons="rightButtons" hide-back-button="true">
	<content has-header="true">

		<div class="card" ng-repeat="activity in activities" item="activity" href="#/{{activity.id}}" ng-class="{active: selectedActivity == activity}" ng-hide="activity.isVisible">
  				<toggle
                ng-model="activity.active" 
                ng-checked="activity.active"
                ng-change="toggleActivity(activity)"
                >
          			<h2><i class="icon ion-loading-c" ng-if="activity.active"></i> {{activity.itemName}}</h2>
    				<p>{{activity.jobName}}</p>
    				<p ng-if="!activity.jobId">Overhead</p>
    				<p>{{activity.endTime | date:'shortTime'}}</p>
        		</toggle>
  		
  			<div class="item item-body" ng-if="activity.active">
			  	<innit-chronograph></innit-chronograph>
 			</div>

  			<!-- <div class="item tabs tabs-secondary tabs-icon-left">
			    <a class="tab-item" href="#">
			      <i class="icon ion-star"></i>
			      Favorite
			    </a>
			    <a class="tab-item" ng-click="resumeActivity(activity)">
			      <i class="icon ion-loop"></i>
			      Resume
			    </a>
			 </div> -->
		</div>


	</content>
</view>
