<view title="'Clock'" hide-back-button="true">
  <content has-header="true" padding="true">

  	<div class="card">
  <div class="item item-text-wrap">
    <h2><i class="icon ion-wrench"></i> {{currentActivity.itemName}}</h2>
    <p ng-if="currentActivity.jobId"><i class="icon ion-briefcase" ng-if="currentActivity.jobId"></i> {{currentActivity.jobName}}</p>
  </div>
</div>

<!-- CodePen Chronograph -->
    <innit-chronograph></innit-chronograph>
<!-- End CodePen Chronograph -->

<a class="button button-block button-assertive" ng-click="endActivity(currentActivity)">End Activity</a>



  </content>
</view>