<view title="'Recent Activity'" right-buttons="rightButtons" hide-back-button="true">

	<content has-header="true">
		<div class="card" ng-repeat="log in timeLogs" item="log" href="#/{{log.id}}" ng-class="{active: selectedTimeLog == log}" ng-hide="log.isVisible">
  				<toggle
                ng-model="log.active" 
                ng-checked="log.active"
                ng-change="toggleTimeLog(log)"
                >
          			<h2><i class="icon ion-loading-c" ng-if="log.active"></i> {{log.itemName}}</h2>
    				<p>{{log.jobName}}</p>
    				<p ng-if="!log.jobId">Overhead</p>
    				<p>{{log.endTime | date:'shortTime'}}</p>
        		</toggle>
  		
  			<div class="item item-body" ng-if="log.active">
			  	<innit-chronograph></innit-chronograph>
 			</div>

  			<!-- <div class="item tabs tabs-secondary tabs-icon-left">
			    <a class="tab-item" href="#">
			      <i class="icon ion-star"></i>
			      Favorite
			    </a>
			    <a class="tab-item" ng-click="resumeActivity(activity)">
			      <i class="icon ion-loop"></i>
			      Resume
			    </a>
			 </div> -->
		</div>




	</content>

	 <script id="new-timelog.html" type="text/ng-template">

		  <div class="modal">

		    <!-- Modal header bar -->
		    <header class="bar bar-header bar-positive">
		    <button class="button button-clear button-clear" ng-click="closeNewTimeLog()">Cancel</button>
		      <h1 class="title" ng-if="!selectedProject && !selectedServiceItem">New {{titleText}} Activity</h1>
		      <h1 class="title" ng-if="selectedProject && !selectedServiceItem">{{selectedProject.name}}</h1>
		      <h1 class="title" ng-if="selectedServiceItem">Confirm</h1>
		    <button class="button" ng-click="toggleOverhead()">{{toggleButtonText}}</button>
		    </header>

		    <!-- Modal content area -->
		    <content has-header="true">
			    <div class="list card" ng-if="selectedServiceItem">

				  <a href="#" class="item item-icon-left" ng-show="selectedProject" ng-click="changeProjectSelection()">
				    <i class="icon ion-briefcase"></i>
				    {{selectedProject.name}}
				  </a>

				  <a href="#" class="item item-icon-left" ng-show="selectedServiceItem" ng-click="changeServiceItemSelection()" >
				    <i class="icon ion-wrench"></i>
				    {{selectedServiceItem.name}}: {{selectedServiceItem.description}}
				  </a>

				    <button type="submit" class="button button-block button-positive" ng-show="selectedServiceItem">Confirm Activity</button>
				 

				</div>

		      <form ng-submit="createTimeLog(log)">
		        <list ng-show="showProjects">
		          <label class="item item-input">
		            <input type="text" placeholder="Search Projects..." ng-model="project">
		          </label>
		          <item ng-repeat="project in projects | filter:project" item="project" ng-click="selectProject(project)" ng-class="{active: selectedProject == project}">
		            <h2 ng-bind="project.name">List Item</h2>
		          </item>
		        </list>

		        <list ng-show="showServiceItems && !selectedServiceItem">
		          <label class="item item-input">
		            <input type="text" placeholder="Search ServiceItems" ng-model="item">
		          </label>
		          <item ng-repeat="item in serviceItems | filter:item" item="item" ng-click="selectServiceItem(item)" ng-class="{active: selectedServiceItem == item}">
		            <h2>{{item.name}}: {{item.description}}</h2>
		          </item>
		        </list>

		      </form>

		    </content>

		  </div>

	 </script>
</view>
