<nav-bar animation="nav-title-slide-ios7" 
               type="bar-positive" 
               back-button-type="button-icon" 
               back-button-icon="ion-arrow-left-c"></nav-bar>
<view title="'Recent Activity'" right-buttons="rightButtons" hide-back-button="true">

	<content has-header="true">	

		<div class="list">

		  <div class="item item-input-inset">
		    <label class="item-input-wrapper">
		      <input type="text" placeholder="Search..." ng-focus="searchIsFocused = true">
		    </label>
		    <button class="button button-clear button-stable button-small" ng-if="searchIsFocused">
		      Cancel
		    </button>
		  </div>

		</div>

		<div class="card" ng-repeat="log in timeLogs | orderBy:'isActive':true" item="log" ng-class="{active: selectedTimeLog == log}">
			<toggle ng-model="log.isActive" ng-checked="log.isActive" ng-change="toggleTimeLog(log);" class="balanced" >
				<h2 class="title">{{log.itemName}}</h2>
				<h2 class="title">{{log.jobName}}</h2>
				<p>{{log.endTime | date:'shortTime'}}</p>
    		</toggle>
		</div>

		<div class="card" ng-if="timeLogs.length == 0">
  			<div class="item item-text-wrap">
    			<h2>You don't have any recent activity...</h2>
  			</div>
		</div>

	</content>

	 
</view>
