<nav-bar animation="nav-title-slide-ios7" 
               type="bar-positive" 
               back-button-type="button-icon" 
               back-button-icon="ion-arrow-left-c"></nav-bar>
<view title="'Recent Activity'" right-buttons="rightButtons" hide-back-button="true">

	<content has-header="true">	

		<!-- <div class="list">

		  <div class="item item-input-inset">
		    <label class="item-input-wrapper">
		      <input type="text" placeholder="Search..." ng-focus="searchIsFocused = true">
		    </label>
		    <button class="button button-clear button-stable button-small" ng-if="searchIsFocused">
		      Cancel
		    </button>
		  </div>

		</div> -->

		<div class="card" ng-repeat="log in timeLogs | orderBy:'startTime':true" item="selectedTimeLog" ng-class="{active: selectedTimeLog == log}">
			<!-- <toggle ng-model="log.isActive" ng-checked="!log.endTime" ng-change="toggleTimeLog(log)" class="balanced" ng-if="!log.isActive">
				<h2 class="title">{{log.itemName}}</h2>
				<h2 class="title" ng-if="!log.jobId">Overhead</h2>
				<h2 class="title" ng-if="log.jobId">{{log.jobName}}</h2>
				<p>{{log.endTime | date:'shortTime'}}</p>
    		</toggle> -->

    		<!-- <h2 class="title" ng-if="log.isActive">{{log.itemName}}</h2>
			<h2 class="title" ng-if="log.isActive">{{log.jobName}}</h2> -->

			  <div class="item">
			    <h2 class="title">{{log.itemName}}</h2>
			    <h2 class="title" ng-if="!log.jobId">Overhead</h2>
				<h2 class="title" ng-if="log.jobId">{{log.jobName}}</h2>
			  </div>

			 <!--  <div class="item item-image" >
			    <img style="height:175px;" ng-if="log.isActive" >
			  </div> -->
			  <div class="item">
			  	<div class="row" ng-if="log.isActive">
	  				<div class="col col-80 col-offset-10">
	  					<p>Clocked in since {{log.startTime | date:'shortTime'}}</p>
	  					<button class="button icon-left ion-home button-assertive button-outline button-block" ng-click="endTimeLog(log)">End Activity</button>
	  				</div>
			  	</div>
			  </div>
			  
			  
			  
		</div>

	
  			
    			<h2 ng-if="timeLogs.length == 0">You don't have any recent activity...</h2>
  		
		

	</content>

	 
</view>
