.cards-background {
	background-color: #f5f5f5;

};


.move.ng-enter,
.move.ng-leave,
.move.ng-move {
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
}
 
.move.ng-enter,
.move.ng-move {
 
}
 

.icon {
    -webkit-backface-visibility: hidden;
    -webkit-transform: scale(1);
} 
.move.ng-move.ng-move-active,
.move.ng-enter.ng-enter-active {
  opacity: 1;
 
}
 
.move.ng-leave {
  opacity: 1;
  overflow: hidden;
}
 
.move.ng-leave.ng-leave-active {
  
}

.card item {
	font-family: Roboto!important;
}

.item h1 {
	font-family: Roboto!important;
	font-size: 28pt;
};

.app-logo {
	max-width: 256px;
	height: auto;
}

h1 {
  color: #707070;
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.4rem;
  margin: 0;
}

h2 {
  font-size:.9rem;
  color:gray;
  font-weight:400;
  line-height: 1.250rem;
  margin: 0;
}




.mcguffy-pattern {
	background: url('../images/web_test.png') center center no-repeat;
  	background-size: cover;
  	height: 300px;
  	max-height: 500px;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(../fonts/Roboto.woff) format('woff');
}
body {
  color: gray;
}

/* Google Now CSS/LESS file
 * CSS only, optimized for mobile devices for an superior UX
 * using the checkbox-hack and BEM naming convention
 */
/*@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,700,500italic,900,700italic,900italic);

@import url(http://www.oceanicviewstudios.com/css/font-awesome.min.css);

* { font-family: 'Roboto', sans-serif; line-height:1.2; vertical-align:middle;}

body { background:#f5f5f5; color:gray; }

p {
  color:gray;
  font-size:.9rem;
  font-weight:400;
}

main {
  background:#e5e5e5;
/*border-radius:.25rem; Rounded edge or no? */
